# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
!\.env.example

# Virtual envs
venv/
env/
.venv/

# SQLite DB
*.db

# IDEs
.vscode/
.idea/
*.iml

# Migrations cache (if any temp)
alembic/__pycache__/