fastapi
uvicorn[standard]
sqlalchemy # used for database migrations, otherwise any time you make a change to the database you'll need to delete the database and create it again
python-jose==3.3.0
bcrypt
email-validator
python-dotenv
alembic
psycopg2-binary
python-jose==3.3.0
passlib